.item-login {
  width: 100%;
  padding: 16px 20px 14px;
  background: var(--color-tr20-greyblue);
  font-size: 14px;
  text-transform: uppercase;
  transition: all var(--transition-duration);

  &:hover {
    background: var(--color-tr40-greyblue);
  }
}
