.container {
  height: 20px;
  display: flex;
  flex-direction: row;
  overflow: hidden;

  svg {
    margin-right: 8px;
    width: 20px;
    height: 20px;
  }

  .text-content {
    height: 100%;
    color: var(--color-text-light);

    .title {
      margin-top: -10px;
      font-size: 15px;
      font-family: var(--font-family-logo-main);
      font-weight: 400;
      line-height: 28px;
      letter-spacing: -0.05em;
      text-transform: uppercase;
    }

    .subtitle {
      margin-top: -4px;
      font-size: 6px;
      font-family: var(--font-family-logo-sub);
      letter-spacing: 2.3px;
      text-transform: uppercase;
    }
  }
}
