%disable-user-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

%flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}
