:root {
  //
  --color-bg-default: #3e4654;
  --color-bg-white: #f9f9fa;
  --color-bg-greyishblue: #e5e8e9;
  //
  --color-text-light: #f9f9fa;
  --color-text-dark: #2b4450;
  --color-orange-bright: #f9a828;
  --color-accent-1: #497285;
  // transparent colors
  --color-tr-white: #f9f9fa66;
  --color-tr-orange: rgba(249, 168, 40, 0.4);
  //
  --fonts-fallback: Arial, Helvetica, Verdana, Tahoma, sans-serif;
}
