.slide {
  //   background: teal;
  padding: 20px;
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
}

.diagram {
  width: 100%;
  max-width: 480px;
  margin: auto;
}

.text-content {
  margin: auto;

  .caption {
    margin: 0 0 20px;
    font-weight: 500;
    text-align: center;
    text-wrap: balance;
  }

  .units,
  .flows {
    padding-left: 26px;
  }
  .units {
    margin-bottom: 20px;
  }
  .flows {
    list-style: upper-roman;
  }
}

@media screen and (max-width: 1180px) {
  .slide {
    flex-wrap: wrap;
  }
}
