%disable-user-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

%flex-a-center {
  display: flex;
  align-items: center;
}

%flex-a-center-row {
  display: flex;
  align-items: center;
  flex-direction: row;
}

%flex-a-center-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}
