%disable-user-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

%flex-a-center {
  display: flex;
  align-items: center;
}

%flex-a-center-row {
  display: flex;
  align-items: center;
  flex-direction: row;
}

%flex-a-center-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

// %section-photo-bg {
//   margin-top: -20px;
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center 5px;
// }

%section-white-bg {
  margin-top: -50px;
  padding-bottom: 20px;
  background: var(--color-bg-white);
  clip-path: var(--section-clippath-desktop);
}
