.lang-btn {
  height: 30px;
  padding: 0 12px;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color-tr40-white);
  background: transparent;
  transition: all var(--transition-duration);

  &:hover {
    color: var(--color-text-light);
  }
}

.active {
  font-size: 16px;
  color: var(--color-text-light);
}
