.button-login {
  width: 74px;
  height: 36px;
  margin-left: 36px;
  border-radius: 7px;
  border: 2px solid var(--color-tr-white);
  background: transparent;
  text-align: center;
  color: var(--color-text-light);
  font-size: 14px;
  text-transform: uppercase;

  &:hover {
    border: 2px solid var(--color-tr-orange);
    color: var(--color-orange-bright);
    transition: all 0.3s;
  }
}
