@import '@/styles/common/extends';

.menu {
  height: calc(var(--desktop-navbar-height) - 2px);

  ul {
    height: 100%;
    list-style-type: none;
    @extend %flex-a-center-row;
    @extend %disable-user-select;

    font-size: 16px;
  }
}

@media (max-width: 1100px) {
  .menu {
    order: 1;
    width: 100%;
    flex-basis: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
  }
}
