.header {
  width: 100%;
  position: absolute;
  top: 0;
  border-bottom: 2px solid var(--color-tr60-greyblue);
  z-index: 1;
}

.container,
.actions {
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  max-width: var(--desktop-max-width);
  padding-inline: var(--desktop-side-spacing);
  margin-inline: auto;
  justify-content: space-between;
  column-gap: 20px;
}

.actions {
  column-gap: 36px;
}

@media (max-width: 1100px) {
  .container {
    flex-wrap: wrap;
    padding: 15px 50px 0;
  }
}
