@import '@/styles/fonts';
@import '@/styles/reset';
@import '@/styles/variables';
// @import '@/styles/extends';
// @import './common/mixins';
// @import './components/main';
// @import './common/dynamic_styles';
// @import './common/animations';
// @import './common/media_queries';

html {
  scrollbar-gutter: stable;
}

body {
  background: var(--color-bg-default);
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  font-family: var(--font-family-base);
  color: var(--color-text-light);
}

::-webkit-scrollbar {
  width: 10px;
  // width: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-accent-1);
  border-radius: var(--border-radius-small);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent-2);
}
