.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  z-index: 99;
  background: #fff;
  overflow-x: hidden;

  scale: 0;
  opacity: 0;
  animation: zooming var(--transition-duration) ease-out forwards;

  padding: 20px 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 40px;
}

@keyframes zooming {
  to {
    scale: 1;
    opacity: 1;
  }
}

.caption {
  color: var(--color-text-dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  text-align: center;
  text-wrap: balance;
}

.diagram {
  width: 100%;
  max-height: 60%;

  svg {
    width: 100%;
    height: 100%;
  }
}

.text-content {
  display: flex;
  flex-direction: row;
  column-gap: 30px;

  margin-inline: auto;
  color: var(--color-text-dark);
  font-size: 20px;
  line-height: 23px;

  .units,
  .flows {
    list-style: none;
  }
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 20px 0 0;
  width: 36px;
  height: 36px;
  background: none;

  svg {
    height: 100%;
    width: 100%;

    * {
      transition: fill var(--transition-duration);
    }
  }

  &:hover svg * {
    fill: var(--color-orange-faded);
  }
}

@media screen and (max-width: 800px) {
  .popup {
    row-gap: 20px;
  }
  .text-content {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 650px) {
  .diagram {
    max-height: 40%;
  }
}

@media screen and (max-width: 450px) {
  .popup {
    padding: 20px var(--mobile-side-spacing);
  }

  .caption {
    font-size: 16px;
    line-height: 20px;
  }

  .text-content {
    font-size: 14px;
    line-height: 18px;
  }
}
