@import '@/styles/common/visually_hidden';
@import '@/styles/common/extends';

.main {
  width: 100%;

  section {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
}

.section-header {
  height: 154px;
  padding-inline: var(--mobile-side-spacing);
  font-family: var(--font-family-header);
  font-size: 36px;
  text-wrap: balance;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &.dark {
    color: var(--color-text-dark);
  }
}

.banner {
  height: 850px;
  position: relative;
  background: url('@/assets/img/homepage_bg_1.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  &-decoration {
    position: absolute;
    top: 90px;
    left: 50%;
    width: 100%;
    height: 710px;

    .stripes {
      position: relative;
      width: 100%;
      height: 100%;
      background: var(--color-tr80-greyishblue);
      transform-origin: left bottom;
      transform: skew(-45deg);

      &-s {
        position: absolute;
        bottom: 0;
        left: 200px;
        width: 16px;
        height: 360px;
        background: var(--color-orange-faded);
        box-shadow: 4px 4px 4px var(--color-shadow);
      }

      &-m {
        position: absolute;
        top: 0;
        left: 236px;
        width: 44px;
        height: 520px;
        background: var(--color-orange-reddish);
        box-shadow: 4px 4px 4px var(--color-shadow);
      }

      &-xl {
        position: absolute;
        bottom: 0;
        left: 316px;
        width: 200px;
        height: 560px;
        background: var(--color-orange-faded);
        box-shadow: -20px 0px 20px var(--color-shadow);
      }

      &-l {
        position: absolute;
        bottom: 0;
        left: 430px;
        width: 240px;
        height: 380px;
        background: var(--color-accent-1);
        box-shadow: -20px 0px 20px var(--color-shadow);
      }
    }

    img {
      position: absolute;
      width: min(40dvw, 520px);
      height: auto;
      left: 70px;
      top: 130px;
      transform-origin: right top;
      filter: drop-shadow(0 10px 4px var(--color-shadow));
    }
  }

  &-body {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: var(--desktop-max-width);
    padding: var(--desktop-navbar-height) var(--desktop-side-spacing) 0;
    margin: auto;
  }

  &-text {
    width: 100%;
    max-width: 550px;
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: left;

    .tagline {
      margin-bottom: 36px;
      font-size: 36px;
      font-family: var(--font-family-header);
      text-transform: uppercase;
      line-height: 56px;
    }

    .h-line {
      width: 350px;
      height: 4px;
      background: var(--color-orange-bright);
    }

    .description {
      margin-top: 50px;
      font-size: 24px;
      font-weight: 300;
      line-height: 30px;
    }
  }
}

.advantage {
  @extend %section-white-bg;

  &-body {
    position: relative;
    width: 100%;
    max-width: var(--desktop-max-width);
    padding-inline: var(--desktop-side-spacing);
    margin: 0 auto 116px;

    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 60px 70px;

    .illustration {
      margin: auto;
      width: 100%;
      max-width: 540px;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);

      .mark {
        background: var(--color-bg-greyishblue);
        color: var(--color-accent-1);

        &:first-of-type {
          margin: 20px 20px 30px 30px;
          padding: 30px 0 0 28px;
        }

        &:last-of-type {
          margin: 30px 30px 20px 20px;
          padding: 30px 0 0 32px;
        }

        p:first-of-type {
          font-size: 48px;
          font-weight: 500;
          margin-bottom: 6px;
        }
        p:last-of-type {
          font-size: 32px;
          font-weight: 400;
        }
      }

      img {
        border-radius: var(--border-radius-large);
        clip-path: var(--img-clippath);
      }
    }

    .points {
      margin: auto;
      width: 100%;
      max-width: 510px;
      height: 400px;

      display: grid;
      grid-template-columns: 22% 73%;
      grid-template-rows: repeat(3, 1fr);
      gap: 40px 5%;

      font-size: 20px;
      color: var(--color-text-dark);

      svg {
        height: 100%;
        width: auto;
        margin: auto;
      }

      &-description {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
      }

      .caption {
        padding: 5px 0 5px;
        line-height: 23px;
      }
    }
  }
}

.offer {
  margin-top: -20px;
  background: url('@/assets/img/homepage_bg_2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 5px;

  &-points {
    width: 100%;
    max-width: var(--desktop-max-width);
    margin: 0 auto 120px;

    list-style: none;

    .point-item {
      max-width: var(--desktop-max-width);
      padding-inline: var(--desktop-side-spacing);
      margin: 0 auto 40px;
      background: linear-gradient(
        90deg,
        transparent 0%,
        var(--color-tr80-greyishblue) 6%,
        var(--color-tr80-greyishblue) 94%,
        transparent 100%
      );

      color: var(--color-text-dark);
      font-size: 20px;

      display: flex;
      flex-wrap: wrap;
      gap: 10px 80px;

      img {
        margin: -10px auto -10px;
        width: 270px;
        height: 180px;
        box-shadow: 4px 4px 4px var(--color-shadow);
        border-radius: var(--border-radius-large);
      }

      .item-wrapper {
        width: 100%;
        max-width: 750px;
        margin: 0 auto 0;
        padding-bottom: 10px;

        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }

      .description {
        line-height: 23px;
        margin: 32px 0 10px;
      }
    }
  }
}

.clients {
  @extend %section-white-bg;

  &-body {
    position: relative;
    overflow: hidden;
    width: calc(100% - var(--desktop-side-spacing) * 2);
    max-width: calc(var(--desktop-max-width) - var(--desktop-side-spacing) * 2);
    margin: 0 auto 66px;
    padding-bottom: 10px;

    display: flex;
    flex-direction: row;

    -webkit-mask-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(transparent),
      color-stop(20%, #000),
      color-stop(80%, #000),
      to(transparent)
    );
    -webkit-mask-image: linear-gradient(
      90deg,
      transparent 0%,
      #000 20%,
      #000 80%,
      transparent 100%
    );
    mask-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(transparent),
      color-stop(20%, #000),
      color-stop(80%, #000),
      to(transparent)
    );
    mask-image: linear-gradient(
      90deg,
      transparent 0%,
      #000 20%,
      #000 80%,
      transparent 100%
    );

    &:hover * {
      animation-play-state: paused;
    }
  }
}

.join {
  margin-top: -20px;
  background: url('@/assets/img/homepage_bg_3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 5px;

  .text-bar {
    width: 100%;
    max-width: var(--desktop-max-width);
    margin: 320px auto 150px;
    padding: 35px var(--desktop-side-spacing);
    background: linear-gradient(
      90deg,
      transparent 0%,
      var(--color-tr80-greyishblue) 6%,
      var(--color-tr80-greyishblue) 94%,
      transparent 100%
    );
    color: var(--color-text-dark);
    font-size: 20px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px 80px;

    .invite-text {
      width: 100%;
      max-width: 620px;
      margin-inline: auto;
      line-height: 23px;
      text-align: justify;
    }

    .button-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 10px;
      width: 100%;
      max-width: 380px;
      margin-inline: auto;
    }
  }
}

.feedback {
  @extend %section-white-bg;

  color: var(--color-text-dark);
  font-size: 20px;

  &-text {
    width: 100%;
    max-width: var(--desktop-max-width);
    padding-inline: var(--desktop-side-spacing);
    margin: 0 auto 30px;
    line-height: 23px;
    text-align: justify;
  }

  .form-field {
    width: 100%;
    padding: 20px var(--desktop-side-spacing);
    background: var(--color-bg-greyishblue);

    .feedback-form {
      width: 100%;
      max-width: 620px;
      margin-inline: auto;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, auto);
      gap: 20px;

      input {
        width: 100%;
        height: var(--input-heigth);
        border-radius: var(--border-radius-small);
        padding: 2px 20px 0;
        font-size: 16px;

        &::placeholder {
          color: var(--color-text-placeholder);
        }
      }

      textarea {
        grid-column: span 2;
        height: 120px;
        border-radius: var(--border-radius-small);
        resize: none;
        padding: 14px 20px 0;
        font-size: 16px;

        &::placeholder {
          color: var(--color-text-placeholder);
        }
      }

      a {
        grid-column: span 2;
        margin-inline: auto;
      }
    }
  }

  .call-in {
    width: 100%;
    max-width: var(--desktop-max-width);
    padding-inline: var(--desktop-side-spacing);
    margin: 30px auto 80px;
    text-align: center;
    font-weight: 500;

    &-text {
      line-height: 23px;
      margin-bottom: 30px;
    }

    .end-phrase {
      font-size: 24px;

      a {
        transition: all var(--transition-duration);

        &:visited {
          color: var(--color-text-dark);
        }

        &:hover,
        &:visited:hover {
          color: var(--color-orange-faded);
        }
      }
    }
  }
}

// MEDIA QUERIES
@media screen and (min-width: 1281px) {
  .advantage,
  .clients,
  .feedback {
    clip-path: var(--section-clippath-desktop-xl);
  }
}

// Special width ===>
@media screen and (max-width: 1258px) {
  .offer {
    &-points {
      .point-item {
        .item-wrapper {
          .description {
            text-align: center;
            align-items: center;
          }
        }
      }
    }
  }

  .join {
    .text-bar {
      margin: 25dvw auto 150px;
    }
  }
}

// Special width ===>
@media screen and (max-width: 1190px) {
  .banner {
    &-decoration {
      img {
        width: 320px;
        height: auto;
        left: 180px;
        top: 220px;
      }
    }
  }
}

// Special width ===>
@media screen and (max-width: 1100px) {
  .banner {
    &-decoration {
      img {
        display: none;
      }
    }
  }

  .join {
    background-position-y: 5px;
    background-position-x: 0;
  }
}

@media screen and (max-width: 860px) {
  .advantage,
  .clients,
  .feedback {
    clip-path: var(--section-clippath-mobile);
  }
}

// Common breakpoint ===>
@media screen and (max-width: 700px) {
  .banner {
    &-text {
      .tagline {
        font-size: 26px;
        line-height: 52px;
      }

      .h-line {
        width: 230px;
      }

      .description {
        font-size: 20px;
        line-height: 26px;
      }
    }
  }

  .advantage {
    &-body {
      .illustration {
        margin: auto;
        width: 100%;
        max-width: 270px;

        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        .mark {
          width: 220px;
          height: 150px;

          &:first-of-type {
            margin: 30px auto;
          }

          &:last-of-type {
            order: 1;
            margin: 30px auto;
          }
        }
      }
    }
  }

  .join {
    .text-bar {
      .invite-text {
        text-align: center;
      }
    }
  }

  .feedback {
    .form-field {
      .feedback-form {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        gap: 20px;

        textarea {
          grid-column: span 1;
        }

        a {
          grid-column: span 1;
        }
      }
    }
  }
}

// Special width ===>
@media screen and (max-width: 666px) {
  .advantage {
    &-body {
      gap: 40px;

      .points {
        height: auto;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(6, auto);
        gap: 20px;

        svg {
          height: 100px;
          width: auto;
        }

        &-description {
          text-align: center;
        }
      }
    }
  }
}

// Common breakpoint ===>
@media screen and (max-width: 568px) {
  .section-header {
    font-size: 26px;
    line-height: 32px;
  }

  .banner {
    height: 720px;

    &-body {
      padding: 90px var(--mobile-side-spacing) 0;
    }

    &-text {
      padding-top: 100px;
      .tagline {
        font-size: 20px;
        line-height: 42px;
      }

      .h-line {
        width: 180px;
      }

      .description {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }

  .advantage {
    &-body {
      padding-inline: var(--mobile-side-spacing);
      margin: 0 auto 80px;

      .points {
        font-size: 16px;
      }
    }
  }

  .offer {
    &-points {
      .point-item {
        padding-inline: var(--mobile-side-spacing);
        .description {
          font-size: 16px;
        }
      }
    }
  }

  .clients {
    &-body {
      width: calc(100% - var(--mobile-side-spacing) * 2);
    }
  }

  .join {
    background-position-x: 20%;
    .text-bar {
      font-size: 16px;
      padding: 35px var(--mobile-side-spacing);
      margin: 35dvw auto 100px;

      .button-wrapper {
        justify-content: center;
        flex-wrap: nowrap;
        gap: 16px;

        a {
          font-size: 16px;
        }
      }
    }
  }

  .feedback {
    font-size: 16px;

    &-text {
      padding-inline: var(--mobile-side-spacing);
      text-align: center;
    }

    .form-field {
      padding: 20px var(--mobile-side-spacing);
    }

    .call-in {
      padding-inline: var(--mobile-side-spacing);

      .end-phrase {
        font-size: 20px;
      }
    }
  }
}
