@import '@/styles/common';

.main {
  width: 100%;

  section {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
}

.section-header {
  // background: seagreen;
  height: 154px;
  font-family: var(--font-family-header);
  font-size: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &.dark {
    color: var(--color-text-dark);
  }
}

.banner {
  height: 850px;
  position: relative;
  background: url('@/assets/img/homepage-bg-1-100.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  &-decoration {
    position: absolute;
    top: 90px;
    left: 50%;
    width: 100%;
    height: 710px;

    .stripes {
      position: relative;
      width: 100%;
      height: 100%;
      background: var(--color-tr80-greyishblue);
      transform-origin: left bottom;
      transform: skew(-45deg);

      &-s {
        position: absolute;
        bottom: 0;
        left: 200px;
        width: 16px;
        height: 360px;
        background: var(--color-orange-faded);
        transform-origin: left bottom;
        box-shadow: 4px 4px 4px var(--color-shadow);
      }

      &-m {
        position: absolute;
        top: 0;
        left: 236px;
        width: 44px;
        height: 520px;
        background: var(--color-orange-reddish);
        transform-origin: left bottom;
        box-shadow: 4px 4px 4px var(--color-shadow);
      }

      &-xl {
        position: absolute;
        bottom: 0;
        left: 316px;
        width: 200px;
        height: 560px;
        background: var(--color-orange-faded);
        transform-origin: left bottom;
        box-shadow: -20px 0px 20px var(--color-shadow);
      }

      &-l {
        position: absolute;
        bottom: 0;
        left: 430px;
        width: 240px;
        height: 380px;
        background: var(--color-accent-1);
        transform-origin: left bottom;
        box-shadow: -20px 0px 20px var(--color-shadow);
      }
    }

    img {
      position: absolute;
      width: 660px;
      height: auto;
      left: 190px;
      bottom: 50px;
      transform-origin: left bottom;
      transform: rotate(-40deg);
      filter: drop-shadow(0 10px 4px var(--color-shadow));
    }
  }

  &-body {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1280px;
    padding: 90px 75px 0;
    margin: auto;
  }

  &-text {
    width: 100%;
    max-width: 550px;
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: left;

    .tagline {
      margin-bottom: 36px;
      font-size: 2.25rem;
      // font-size: 36px;
      font-family: var(--font-family-header);
      text-transform: uppercase;
      line-height: 56px;
    }

    .h-line {
      width: 350px;
      height: 4px;
      background: var(--color-orange-bright);
    }

    .description {
      margin-top: 50px;
      // font-size: 24px;
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 30px;
    }
  }
}

.advantage {
  margin-top: -50px;
  min-height: 700px;
  background: var(--color-bg-white);
  clip-path: var(--section-clippath-desktop);

  &-body {
    position: relative;
    width: 100%;
    max-width: 1280px;
    padding: 0 75px 146px;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 60px 70px;

    .illustration {
      margin: auto;
      width: 100%;
      max-width: 540px;
      height: 400px;
      // background: orange;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);

      .mark {
        background: var(--color-bg-greyishblue);
        color: var(--color-accent-1);

        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;

        &:first-of-type {
          margin: 20px 20px 30px 30px;
          padding: 30px 0 0 28px;
        }

        &:last-of-type {
          margin: 30px 30px 20px 20px;
          padding: 30px 0 0 32px;
        }

        p:first-of-type {
          font-size: 48px;
          font-weight: 600;
          margin-bottom: 6px;
        }
        p:last-of-type {
          font-size: 32px;
          font-weight: 400;
        }
      }

      img {
        background: blue;
        border-radius: var(--border-radius-large);
        clip-path: var(--img-clippath);
      }
    }
    .points {
      margin: auto;
      width: 100%;
      max-width: 510px;
      height: 400px;
      // background: blueviolet;

      display: grid;
      grid-template-columns: 22% 73%;
      grid-template-rows: repeat(3, 1fr);
      gap: 40px 5%;

      font-size: 20px;
      color: var(--color-text-dark);

      svg {
        height: 100%;
        width: auto;
        margin: auto;
      }
    }
  }
}
