$stripe-shadow: 4px 4px 4px var(--color-shadow);

$width-s: 9px;
$width-m: 21px;
$width-l: 30px;
$width-xl: 60%;

$space-1: 14px;
$space-2: 20px;
$space-3: 22px;

$start-position-right: -100px;

.break-line {
  position: relative;
  width: 100%;
  height: 52px;
}

.bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: left bottom;
  transform: skew(-45deg);

  .stripe-s,
  .stripe-m,
  .stripe-l,
  .stripe-xl {
    height: 100%;
    position: absolute;
    top: 0;
    box-shadow: $stripe-shadow;
    transform-origin: right bottom;
  }

  .stripe-s {
    width: $width-s;
    right: $start-position-right;
    background: var(--color-orange-bright);
  }
  .stripe-m {
    width: $width-m;
    right: $start-position-right;
    background: var(--color-orange-reddish);
  }
  .stripe-l {
    width: $width-l;
    right: $start-position-right;
    background: var(--color-orange-faded);
  }
  .stripe-xl {
    width: $width-xl;
    right: 0;
    background: var(--color-accent-1);
    scale: 0 1;
  }
}

.intro {
  $animation-duration: 0.4s;

  .stripe-xl {
    animation: slide-xl $animation-duration ease-out forwards;

    @keyframes slide-xl {
      to {
        scale: 1 1;
      }
    }
  }

  .stripe-l {
    animation: slide-l $animation-duration ease-out 0.1s forwards;

    @keyframes slide-l {
      to {
        right: calc($width-xl + $space-1);
      }
    }
  }

  .stripe-m {
    animation: slide-m $animation-duration ease-out 0.2s forwards;

    @keyframes slide-m {
      to {
        right: calc($width-xl + $space-1 + $width-l + $space-2);
      }
    }
  }

  .stripe-s {
    animation: slide-s $animation-duration ease-out 0.3s forwards;

    @keyframes slide-s {
      to {
        right: calc(
          $width-xl + $space-1 + $width-l + $space-2 + $width-m + $space-3
        );
      }
    }
  }
}
