@import './horizontalBar';

.break-line {
  margin: -20px 0 40px;
}

.spacer {
  position: absolute;
  width: 100%;
  height: 0px;
  left: 0;
  bottom: 20px;
  background: var(--color-bg-white);
  transform-origin: left bottom;
  transition: height var(--transition-duration);
}

.expand {
  position: absolute;
  width: 60%;
  height: 100%;
  top: 0;
  right: 0;
  background: none;
  z-index: 1;

  padding-inline: 70px 40px;

  display: flex;
  align-items: center;
  column-gap: 14px;

  color: var(--color-text-light);
  font-size: 24px;
  font-family: var(--font-family-header);
  text-align: left;

  &:hover ~ .spacer {
    height: 12px;
  }

  .tag {
    width: fit-content;
    min-width: 145px;
  }
}

.active-btn {
  &:hover ~ .spacer {
    height: 0px;
  }
}

.chevron {
  width: 24px;
  min-width: 24px;
  height: 12px;
  margin-top: 1px;
  transition: all var(--transition-duration);

  &.open {
    transform: rotateX(180deg);
  }
}

.hidden {
  display: none;
}

@media screen and (max-width: 856px) {
  .expand {
    font-size: 20px;

    &:hover ~ .spacer {
      height: 0px;
    }
  }
}

@media screen and (max-width: 756px) {
  .expand {
    font-size: 16px;
    padding-inline: 60px 40px;
  }
}

@media screen and (max-width: 490px) {
  .expand {
    column-gap: 200px;
    padding-inline: 55px 40px;
  }
}
