.container {
  height: 20px;
  display: flex;
  flex-direction: row;
  overflow: hidden;

  svg {
    margin-right: 8px;

    $icon-size: 20px;

    width: $icon-size;
    height: $icon-size;
  }

  .text-content {
    height: 100%;
    color: var(--color-text-light);
    font-weight: 400;
    text-transform: uppercase;

    .title {
      margin-top: -10px;
      font-size: 15px;
      font-family: var(--font-family-logo-main);
      line-height: 28px;
      letter-spacing: -0.05em;
    }

    .subtitle {
      margin-top: -4px;
      font-size: 6px;
      font-family: var(--font-family-logo-sub);
      letter-spacing: 2.3px;
    }
  }
}
